main {
  min-height: 100vh;
  background: linear-gradient(to right top, #6765df, #6c83eb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  height: 90vh;
  width: 85%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  display: flex;
  align-items: center;
}

.sidebar {
  height: 90vh;
  width: 40%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.App {
  text-align: center;
}

.board-container {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  width: 50vh;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 12.5%;
  height: 12.5%;
  display: inline-flex;
}

.square-black {
  background: #b59963;
}

.square-white {
  background: #f0d9b5;
}

.circle-white {
  width: 50%;
  height: 50%;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: white;
  margin: auto;
}

.circle-black {
  width: 50%;
  height: 50%;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: black;
  margin: auto;
}
